*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html, body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
}
#nav{
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 30px 40px;
}
#nav h3{
    background-color: black;
    color: #fff;
    padding: 10px 20px;
    margin-left: 4px;
    font-size: 18px;
    border-radius: 50px;
}
#intro{
    height: 35%;
    width: 100%;
    padding: 30px 50px;
    background-color: antiquewhite;
}
#intro h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 1px;
    font-size: 80px;
    line-height: 70px;
}
#place{
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#place h3, #place h4{
    font-size: 20px;
    font-weight: 30px;
}
#hero-image{
    height: 65%;
    width: 100%;
    background-image: url(https://plus.unsplash.com/premium_photo-1710021048489-56e6fb1b972e?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8dGVjaCUyMHBlcnNvbnxlbnwwfHwwfHx8MA%3D%3D);
    background-size: cover;
    background-repeat: no-repeat;
}

#about-container{
    width: 100%;
    height: fit-content;
}

#about{
    height: 100%;
    /* width: 100%; */
    display: flex;
    /* align-items: center; */
    /* justify-content: space-between; */
    padding: 20px 0;
    margin: 0 50px;
    border-bottom: 2px solid black;
}

#about-text{
    padding: 20px 0;
    height: 100%;
    width: 70%;
}

#about-text h2{
    padding-right: 20px;
    font-size: 64px;
    font-weight: 400;;
    line-height: 65px;
}
#about-part2{
    width: 30%;
    border-left: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px 0;
    padding: 0 30px;
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
}
#about-part2 h3{
    font-size: 30px;
    font-weight: 400;
}

#icon{
    display: flex;
    gap: 8px;
}

#icon i{
    background-color: black;
    color: #fff;
    padding: 8px;
    font-size: 20px;
    border-radius: 50px;
}
#work{
    height: fit-content;
    padding: 30px 50px;
    width: 100%;
    display: flex;
}

#work1{
    display: flex;
    padding-right: 20px;
    width: 40%;
    justify-content: space-between;
    border-right: 2px solid black;
}

#work2{
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    /* width: 40%; */
    justify-content: space-between;
}